.RestaurantHeader {
  height: 20vh;
  background-color: aqua;
  margin-top: 40px;
}

.Sections {
  height: 80vh;
  overflow-y: scroll;
  padding: 5%;
}

.Products {
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
}
.Products > .Product {
  display: inline-block;
  float: none;
  height: 200px;
  width: 150px;
  margin-right: 20px;
}

.Products > .Product .info {
  margin-left: 5px;
  max-width: 200px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.Products > .Product .title {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;

  margin-bottom: 0;
}

.Product img {
  border-radius: 15%;
  height: 150px;
  width: 150px;
}

.Product .add-button {
  width: 80px;
}

.AddProductHandler {
  width: 100vw;
  height: 100vh;
  position: absolute !important;
  z-index: 100;
  top: 0;
  left: 0;
  padding-top: 30px;
}

.AddProductHandler .AddProductHandlerCard {
  height: 100vh;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.QuantityHandler .container {
  width: 45%;
  margin: 0 auto;
}
.QuantityHandler .container h1 {
  font-weight: bold;
}

.QuantityHandler .quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background: #eaeaea;
  border-radius: 10px;
  padding: 1rem 0.4rem;
}

.QuantityHandler .quantity-btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0px 8px;
  cursor: pointer;
}
.QuantityHandler .quantity-btn svg {
  width: 15px;
  height: 15px;
}
.QuantityHandler .quantity-input {
  outline: none;
  user-select: none;
  text-align: center;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
.QuantityHandler .quantity-input::-webkit-inner-spin-button,
.QuantityHandler .quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.AddProductHandler .makeConfirm {
  display: flex;
}

.AddProductHandler .confirm-button {
  background-color: tomato;
  border: none;
  outline: none;
  cursor: pointer;
  height: 58px;
  width: 200px;
  margin: 0 0 0 auto;
  border-radius: 12px;
}

.NavHeader {
  z-index: 100;
}

.NavHeader .cartBar {
  background-color: rgba(255, 255, 255, 0.7);
  height: 6vh;
}

.NavHeader .nav-icon {
  margin: 0;
  width: 30px;
  cursor: pointer;
}

.NavHeader .nav-icon:after,
.NavHeader .nav-icon:before,
.NavHeader .nav-icon div {
  background-color: black;
  border-radius: 3px;
  content: "";
  display: block;
  height: 2px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

/*Note: If you changed width of lines of head of arrow, then you also might have to set the transformation of those line accordingly*/
.NavHeader .nav-icon.closed:before {
  transform: translateY(3px) translateX(-2px) rotate(135deg);
  width: 17px;
}

.NavHeader .nav-icon.closed:after {
  transform: translateY(-3px) translateX(-2px) rotate(-135deg);
  width: 17px;
}

.NavHeader .backArrow-button,
.NavHeader .cartButton {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  color: black;
}

.noview-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  color: black;
}

.CartView {
  height: 94vh;
  width: 100vw;
  background-color: #f8f9fa;
  position: fixed;
  top: 6vh;
}

.ProductResume .photo {
  border-radius: 15%;
  width: 100%;
}

.OrderFooter {
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #f4f4f6;
}

.ConfirmOrderButton {
  margin: 10px;
}

/* * {
  border: 0.5px solid red !important;
} */
